/* Reset of all margin and padding */


/* header section */
body{
  background-color: #4842fb18;
}
.header{
  background-image: url('../images/Assets/Hero-bg.png');
  width:1500px;
  height: 598px; 
 margin: 0px auto; 

}

/* nav section style */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
.inter-small {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-size: 13px;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 150px;

}
.logo {
  font-size: 34px;
  font-weight: bold;
  color:#4E47FF;
}

.sign-btn{
  background: #4E47FF;
  color: #fff;  
  padding: 10px 18px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
.sign-btn:hover{
  background-color: yellowgreen;
}
/* banner section style */
.banner{
  margin: 150px 267.5px 152px 340px ;
  text-align: center;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style:normal;
}
.raleway-regular {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
.banner-text{
  color: #252432;
  font-size: 65px;
}
/* preview section style */
.action{
  display: flex;
  justify-content: space-between;
  width: 1140px;
  height: 328px;
  gap: auto;
  margin: 100px 159px 100px 141px;
  border-radius: 10px;
}
.action-preview{
  margin-top: 62.5px;
  margin-bottom: 62.5px;
  text-align: justify;
}
.action-title{
   font-size: 42px;
  font-weight: bold; 
  
}
.action-content{
  font-size: 24px;
  font-weight: 300;
  color: #8987a1;
}
.img-style{
  border-radius: 30px;
  margin-right: 10px;
}
/* user section styles */
.users{
  width: 1140px;
  height: 375px;
  background-color: #4d47ff1e;
  margin: 116px 160px 0px 141px;
  border-radius: 20px;
}
.user-title{
  font-size: 36px;
  margin-left: 300px;
  padding-top: 50px;
  font-weight: bold;
  color: #252432;
  
}
.user-views{
  display: flex;
  justify-content: space-around;
}
.views-title{
  font-size: 80px;
  margin-bottom: 10px;
  color: #4E47FF; 
}
.views-type{
  /* color: #252432; */
  color: #000000;
  opacity: 0.6;
  padding-left: 15%;
  font-size: 15px;
}
/* review section style */
.review{
  width: 1140px;
  height: 442px;
  margin:100px 149px 100px 140px; 
}
.review-title{
  text-align: center;
  font-size: 42px;
  font-weight: bold;
  color: #252432;
}
.rating-container{
  display: flex;
  gap: 35px;

}
.rating-portion{
  background-color: whitesmoke;
  padding: 20px;
  height: 243px;
  width: 366px;
  border-radius: 10px;
}
.user-section{
  display: flex;
  gap: 20px;
  align-items: center;
}

.reviewer-name{
  color:#757575;
  margin-bottom: 8px;
}
.reviewer-date{
    color:#B3B3B3;
    margin-top: 1px;
}
/* focus section styles */
.focus{
  width: 1120px;
  height: 650px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:100px 161px 100px 140px;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
}
.focus-title{
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 0px;

}

.focus-content{ 
  text-align: center;
  color: #000000;
  opacity: 0.5;
}
.img-portion{
  border-radius: 20px;
}
.img-portion img{
  width: 100%;
  display: block;
  border-radius: inherit;
}
.btn-section{
  margin-top: 0;
}

/* form section style*/
.form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1130px;
  height: 600px;
  margin: 0 auto;
}

.form-title-portion{
  width:528px;
  height: 232px;
  font-size: 80px;
  font-weight: bold;
  padding-left: 0%;
  padding-bottom: 20px;
  margin: 129px 115px 129px 0px ;
  
}
.form-content{
  width: 30%; 
}
.form-container{
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.form-description{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
}
.touch-btn{
  width:104%;
}
.form-description input,textarea{
  width: 100%;
  display: block;
  border-radius: inherit;
}
.form-description input[type="email"],
.form-description input[type="text"] {
  height: 35px;
  padding-left: 10px;
}
.form-description textarea {
  padding-left:10px;
  padding-top: 20px;
  font-size: 16px;
  border-radius: 6px;
  
}

/* fotter section style */
.footer-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: white;
  gap: 10px;
  margin-top:40px;
  height: 380px;
}
.footer-title{
  font-size: 70px;
  font-weight: 900;
  color: #4E47FF;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.footer-description{
  font-size: small;
  color: #000000;
  opacity: 0.5;
  margin-top: 10px;
}
.footer-nav{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;

}
.footer-layout{
  width: 431px;
  height: 221px;
  margin: 93px 300px 114px 600px;
}
.footer-section a{
  text-decoration: none;
  color: #000000;
  opacity: 0.6;
}